# Dependency directory
node_modules/

# Environment variables
.env

# Config files for IDs
src/config/bot.json
src/config/channels.json
src/config/emojis.json
src/config/roles.json

# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# npm cache directory
.npm

# eslint cache
.eslintcache
